body {
  padding-top: 4.5rem;
  background-image: url("images/wave.svg");
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  /* border: 5px solid rgba(31, 249, 212, 0.63); */
}
.App-header {
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  padding: 10px 0;
}

.toast {
  color: #000000;
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 0;
}
.toast-header span {
  display: inline-block;
  border-radius: 1px;
  padding: 7px;
  margin-right: 4px;
}
.headerNav li {
  padding: 0 8px;
  border-left: 1px solid #ffffff;
  font-size: 15px;
  line-height: 20px;
}
.headerNav li:first-child {
  border: 0;
}
.resetLink {
  cursor: pointer;
}
.badge-purple,
.bg-purple {
  background-color: #9128af;
  color: #ffffff;
}
.badge .badge {
  cursor: pointer;
  margin-left: 5px;
}
.list-group .list-group-item {
  font-weight: bold;
}
.list-group-item.disabled,
.list-group-item:disabled {
  color: #adadad;
}
.tagContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list-group {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.autoComplete {
  position: relative;
}
.progress {
  height: 0.4rem;
}
.blurBg {
  background-color: rgba(255, 255, 255, 0.93);
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.5);
}
.pageHeading {
  margin-bottom: 3px;
}
.helperText {
  margin-bottom: 50px;
}
.filterBox {
  min-height: 100px;
}
.imageBg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: url("./images/space.jpg") 0 0 no-repeat;
  background-size: cover;
}
.imageBg svg {
  position: absolute;
  bottom: 0;
}
.headerImage {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: auto;
}
.btn-outline-purple,
.btn-outline-purple:disabled {
  color: #9128af;
  border-color: #9128af;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn-outline-purple:hover {
  background-color: #9128af;
  color: #ffffff;
}

/* radio custom style start */
